* {
  cursor: url("../img/Union.png"), auto;
}
/* Curseur quand on survole un élément cliquable */
a,
button,
.clickable {
  cursor: url("../img/Union2.png"), pointer;
}
@font-face {
  font-family: "Plateia";
  src: url("../fonts/Plateia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GTFRiposte";
  src: url("../fonts/GTFRiposteTRIAL-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Plateia", sans-serif;
  color: #aeada9;
  overflow-x: hidden;
}
img,
video {
  display: block;
}
h1 {
  color: red;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
}

/* --- HEADER --- */
.header {
  position: relative;
  width: 100%;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Logo en PNG centré */
.header-logo {
  width: 80px; /* adapte selon ton PNG */
  pointer-events: none;
  z-index: 3;
}

/* Menu horizontal */
.header-menu {
  display: flex;
  gap: 90px;
}
@media (max-width: 815px) {
  .header-menu {
    gap: 20px;
  }
}

.header-menu a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  z-index: 3;
  align-items: center;
  transition: 0.2s;
}
.header-menu a:hover {
  color: #fff;
}

/* --- TEXTE PRINCIPAL --- */
.center-title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 200px;
  z-index: 3;
  align-items: center;
}

.title-img {
  width: 100vw;
  max-width: 1400px;
  pointer-events: auto;
  z-index: 3;
  transition: filter 0.2s;
  transform-style: preserve-3d; /* pour le 3D */
  transition: transform 0.2s;
  align-items: center;
  justify-content: center;
}

.trav {
  z-index: 3;
  width: 100%;
  max-width: 1400px;
  display: block;
  cursor: url("../img/Union2.png"), auto;
}

/* Texture par-dessus */
.texture {
  position: fixed; /* <<< scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 200%;

  background-image: url("../img/194.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  pointer-events: none;
}

/* Effet difference qui scroll aussi */
.bg-diff {
  position: fixed; /* <<< scroll */
  top: 0;
  left: 0;
  width: 50vw;
  height: 200%;
  background-image: url("../img/cuir.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  mix-blend-mode: difference; /* <<< effet diff */
  pointer-events: none;
  z-index: 1;
}
.trav img {
  animation: none;
}

.trav:hover img {
  animation: flashIn 0.12s steps(2);
}

.trav:not(:hover) img {
  animation: flashOut 0.12s steps(2);
}

@keyframes flashIn {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes flashOut {
  0% {
    filter: brightness(100);
  }
  50% {
    filter: brightness(100);
  }
  100% {
    filter: brightness(70);
  }
}
/* Transition fade */
.fade {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.fade.show {
  opacity: 1;
}

.fade.show p {
  position: absolute;
  animation: float 2s cubic-bezier(0.9, 0, 0.2, 1) infinite alternate;
}

@keyframes float {
  0% {
    transform: scale(1.2); /* début à taille normale */
  }
  100% {
    transform: scale(1); /* zoom maximum */
  }
}

/* Loading et contenu */
#loading,
#content {
  /* #loading couvre tout l’écran */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000; /* pour loading */
  z-index: 9999;
}

#content {
  position: relative;
  background: #fff; /* ou ce que tu veux pour ton contenu */
  display: none; /* caché au départ */
}
