/* Texture par-dessus */
.texture {
  position: fixed; /* <<< scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 200%;
  background-image: url("../img/194.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  pointer-events: none;
}

/* Effet difference qui scroll aussi */
.bg-diff {
  position: absolute; /* <<< scroll */
  top: 0;
  left: 50vw;
  width: 50vw;
  height: 100vh;
  background-image: url("../img/cuir.png");
  background-size: content;
  background-position: left;
  background-repeat: no-repeat;
  mix-blend-mode: difference; /* <<< effet diff */
  pointer-events: none;
  z-index: 4;
}
.travis-dos {
  background-image: url("../img/Travis_Dos.png");
  position: absolute; /* <<< scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
.titre {
  background-image: url("../img/Titre.png");
  position: absolute; /* <<< scroll */
  top: auto;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  pointer-events: none;
}
