* {
  cursor: url("../img/Union.png"), auto;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  position: fixed
  width: 80; /* adapte selon ton PNG */
  z-index: -1;
}
/* Texture par-dessus */
.texture {
  position: fixed; /* <<< scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 200%;
  background-image: url("../img/text_p_2.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  pointer-events: none;
  mix-blend-mode: screen; /* <<< effet diff */
}

/* 
.bg-diff {
  position: absolute;
  top: 0;
  left: 50vw;
  width: 50vw;
  height: 100vh;
  background-image: url("../img/cuir.png");
  background-size: content;
  background-position: left;
  background-repeat: no-repeat;
  mix-blend-mode: difference; 
  pointer-events: none;
  z-index: 4;
}
*/
.travis-dos {
  background-image: url("../img/Travis_Dos.png");
  position: absolute; /* <<< scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  mix-blend-mode: lighten; /* <<< effet diff */
}
.titre {
  background-image: url("../img/Titre.png");
  position: absolute;
  top: 25vw;
  left: 30px; /* remplace margin-left */
  right: 30px; /* remplace margin-right */
  width: auto; /* laisse le container s’adapter */
  height: 60%;
  z-index: 3;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  pointer-events: none;
}
@media (min-width: 1900px) {
  .titre {
    left: 60px;
    right: 60px;
  }
}

.first {
  display: flex;
  flex-direction: column;
  align-items: right;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 3;
}
