* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video {
  display: block;
}
h1 {
  color: red;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  font-family: Arial, sans-serif;
}

/* --- HEADER --- */
.header {
  position: relative;
  width: 100%;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Logo en PNG centré */
.header-logo {
  width: 80px; /* adapte selon ton PNG */
  pointer-events: none;
  z-index: 4;
}

.a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  z-index: 4;
  align-items: center;
  transition: 0.2s;
}

/* --- TEXTE PRINCIPAL --- */
/* Texture par-dessus */
.texture {
  position: fixed; /* <<< scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 200%;

  background-image: url("../img/194.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  pointer-events: none;
}

/* Effet difference qui scroll aussi */
.bg-diff {
  position: fixed; /* <<< scroll */
  top: 0;
  left: 50vw;
  width: 50vw;
  height: 200%;
  background-image: url("../img/cuir.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  mix-blend-mode: difference; /* <<< effet diff */
  pointer-events: none;
  z-index: 1;
  align-items: right;
}
