@font-face {
  font-family: "Plateia";
  src: url("../fonts/Plateia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GTFRiposte";
  src: url("../fonts/GTFRiposteTRIAL-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Plateia", sans-serif;
    color: #aeada9;
}
* {
  cursor: url("../img/Union.png"), auto;
}
.logo {
display: flex;
flex-direction: column;
align-items: center;
  position: fixed
  z-index: -1;
  transition: color 0.5s ease-in-out, filter 0.3s ease;
}

.logo:hover {
  filter: brightness(1.7);
  mix-blend-mode: difference;
  z-index: 3;
}
/* Texture par-dessus */
.texture {
  position: fixed; /* <<< scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 200%;
  background-image: url("../img/text_p_2.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  pointer-events: none;
  mix-blend-mode: screen; /* <<< effet diff */
}
.travis-dos {
  background-image: url("../img/Travis_Dos.png");
  position: absolute; /* <<< scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  mix-blend-mode: lighten; /* <<< effet diff */
}
.titre {
  width: 98vw; /* laisse le container s’adapter */
  z-index: 3;
}
@media (min-width: 1900px) {
  .titre {
    left: 60px;
    right: 60px;
  }
  .first {
    width: 1000px;
  }
}

.first {
  color: #aeada9;
  width: 769px;
  text-align: right;
  margin: 0%;
  mix-blend-mode: color-dodge;
  z-index: 3;
  transition: color 0.8s ease-in-out, filter 0.2s ease-in-out;
}
.first:hover {
  color: #ffffff;
  filter: brightness(1.2);
  mix-blend-mode: normal;
}

.second {
  color: #aeada9;
  width: 774px;
  text-align: left;
  margin: 0%;
  font-family: "GTFRiposte";
  font-size: 20;
  mix-blend-mode: color-dodge;
  z-index: 3;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 18vh;
  width: 100vw;
  gap: 8px;
}
.split {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.content {
  width: 50vw;
  min-height: 100vh;
  padding: 40px;
  z-index: 3;
  font-family: "GTFRiposte";
  font-variant-caps: ;
}

.visual {
  width: 50vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lunettes {
  width: 100%;
  height: 100%;
  object-fit: contain; /* PAS de déformation */
  mix-blend-mode: darken;
  z-index: 3;
}
.bg-diff {
  position: absolute;
  width: 50vw;
  height: 100%;
  background-image: url("../img/cuir.png");
  background-size: content;
  background-position: left bottom;
  background-repeat: no-repeat;
  mix-blend-mode: difference; 
  pointer-events: none;
  z-index: 0;
}
.diff-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diff-wrap img {
  position: absolute;
  max-width: 50vw;
  mix-blend-mode: difference;
  transition: transform 0.2s ease; /* plus long pour sortie smooth */
}

.diff-wrap img:first-child {
  z-index: 1;
}

.diff-wrap img:last-child {
  z-index: 2;
}

.content {
  width: 50vw;
  padding: 6vh 4vw;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

h1 {
  text-align: center;
    font-size: clamp(40px, 2vw, 40px);
    padding-bottom: 8vh;
}


.block h1 {
  margin-bottom: 2vh;
  font-size: clamp(40px, 2vw, 40px);
  text-align: center;
  padding-bottom: 0px;

}

.albums {
  display: flex;
  gap: 1.5vw;

}

.albums img {
  width: 100%;
}
.block.albums-block {
  margin-top: 40px;
}
.block.events h1{
  margin: 0%;
  padding-bottom: 17px;
}
.text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24;

  

}
p{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
    transition: 0.2s ease-in-out;
}
@media (min-width: 1900px) {
  .text-block {
font-size: 30px;
  }
  .first {
    width: 1000px;
  }
}
@media (max-width: 1000px) {
.albums img {
  width: 50%;
}
  .first {
    width: 1000px;
  }
}
.albums img {
  filter: brightness(0.2) saturate(0); /* exposition + contraste */
  width: 100%;
  transition: 0.5s ease-in-out; /* pour que l'effet soit fluide */
    transform-style: preserve-3d;
}

.albums img:hover {
  filter: brightness(1) contrast(1);
  /* plus de transform ici, le JS gère rotation + zoom */
}
.albums, .diff-wrap {
  perspective: 1000px; /* perspective pour effet 3D */
}

.albums img {
  width: 100%;
  transition: transform 0.2s ease, filter 0.2s ease;
  transform-style: preserve-3d;
  filter: brightness(0.2) saturate(0);
}

.albums img:hover {
  filter: brightness(1) contrast(1);
  /* plus de transform ici, JS gère rotation + zoom */
}
.text-block p:hover {
  filter: brightness(1.9);
  letter-spacing: 3px;
}

.char {
  will-change: transform;
}
